body {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 49pt;
color: #003868;
background-color: #80B8E8;
margin: 6mm;
}

p {
text-align: justify;
}

pre, code {
font-size: 39pt;
}