p#pogrubione_gryglicki
{
  font-size:34;
  font-weight:900;
  color:#8129CC;
}

p#pochylone_gryglicki
{
  font-style: italic;
  font-size:39;
  color:#E1B668;
}

p#index_gorny_gryglicki
{
  vertical-align:super;
  font-size:1.4cm;
  color:#958D18;
}

p#index_dolny_gryglicki
{
  vertical-align:sub;
  font-size:2.3cm;
  color:rgb(18%,94%,88%);
}
p#mono_gryglicki
{
  font-size:44px;
  color:#15DD68;
}


p#powiekszenie_gryglicki
{
  font-size:30px;
  color:#4F3D9A;
}

p#pomniejszenie_gryglicki
{
  font-size:32px;
  color:rgb(70%,63%,21%);
}
<html>
  <head>
     <link href="z23_gryg_kod.css" rel="stylesheet">
  </head>
  <body>
  <p id="pogrubione_gryglicki">Radek Gryglicki<br>Dowcip I<br>Spotyka się dwóch programistów: - Słyszałem, że straciłeś pracę. Jak to jest być bezrobotnym? - To było najgorsze pół godziny mojego życia!</p>
  <p id="pochylone_gryglicki">Radek Gryglicki<br>Dowcip II<br>Z programowaniem jak z budową katedry, budujesz,budujesz a potem się modlisz (żeby wszystko działało)</p>
  <p id="index_gorny_gryglicki">Radek Gryglicki<br>Dowcip III<br>Programista otwiera lodówkę, sięga po masło i patrząc na napis "82%" mówi: - a to jeszcze chwilka i będzie gotowe.</p>
  <p id="index_dolny_gryglicki">Radek Gryglicki<br>Dowcip IV<br>Na świecie jest 10 rodzajów ludzi: ci, którzy rozumieją system binarny i ci, którzy go nie rozumieją.</p>
  <p id="mono_gryglicki">Radek Gryglicki<br>Dowcip V<br>Dlaczego programiści mylą Boże Narodzenie z Halloween ? Bo 25 Dec = 31 Oct</p>
  <p id="powiekszenie_gryglicki">Radek Gryglicki<br>Dowcip VI<br>Czym różni się polityk od programisty? programista bierze pieniądze za programy, które działają.</p>
  <p id="pomniejszenie_gryglicki">Radek Gryglicki<br>Dowcip VII<br>Jak śni programista? - Na JAVIE.</p>

  </body>


</html>
<!--IGOR PĘDZIWILK-->